@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite DE SAS", cursive;
}

body {
  background-color: #3b2f2f;
  color: #fff7e6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* ------------- Header ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(30, 20, 10, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 1px 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  color: #f6b86e;
  font-weight: 700;
  margin-left: 10px;
}

.links {
  display: flex;
  gap: 35px;
}

.links a {
  color: #fefae0;
  font-weight: 500;
  transition: 0.3s;
}

.links a:hover {
  color: #ffcc80;
}

.searchbar {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

header .navbar .Login {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.searchbar input {
  border: none;
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  width: 140px;
}

.searchbar button {
  background: none;
  border: none;
  color: #f6b86e;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 10px;
}

.fa-solid {
  border-radius: 15px;
}

.icons i {
  color: #f6b86e;
  font-size: 20px;
  margin-left: 15px;
  transition: 0.3s;
  border-radius: 15px;
}

.icons i:hover {
  color: #ffcc80;
  transform: scale(1.1);
  border-radius: 15px;
}

/* ------------ Home Section ----------- */
.home {
  background: url("images/Backgrund.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .hero-details {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 15px;
}

.home h2 {
  font-size: 2.5rem;
  color: #ffcc80;
}

.home h3 {
  margin: 10px 0;
  font-weight: 400;
  color: #fff7e6;
}

.home .buttons a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #ffcc80;
  border-radius: 30px;
  color: #fff7e6;
  transition: 0.3s;
}

.home .buttons a:hover {
  background: #ffcc80;
  color: #3b2f2f;
}

/* ------------- About Section ---------- */
.about {
  width: 100%;
  background-color: #fff7e6;
  color: #3b2f2f;
  padding: 200px 50px;
}

.about .row {
  align-items: center;
}

.about img {
  border-radius: 15px;
  width: 200px;
}

.about-text h2 {
  color: #c17d11;
  font-weight: 700;
}

.about-text h4 {
  color: #795548;
  margin-top: 15px;
}

.about-text p {
  margin-top: 10px;
  line-height: 1.7;
}

/* ------------ Menu Section ----------- */
.menu {
  background-color: #f9f4ee;
  color: #3b2f2f;
  text-align: center;
  padding: 80px 30px;
}

.menu h2 {
  color: #c17d11;
  margin-bottom: 40px;
  font-weight: 700;
}

.product-card {
  background: #f9f9f961;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}


.product-card h6 {
  padding: 10px;
}

.product-card btnbutton {
  color: chocolate;
  z-index: 100;
}

/* -------------Footer ------------ */
footer {
  background: #2b2118;
  color: #fefae0;
  text-align: center;
  padding: 30px 10px;
  font-size: 15px;
}

footer a {
  color: #f6b86e;
  margin: 0 10px;
  transition: 0.3s;
}

footer a:hover {
  color: #ffcc80;
}

footer p:last-child {
  margin-top: 8px;
  color: #c9a34f;
  font-weight: 500;

}